{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "contexts": "./src/contexts",
          "utils": "./src/utils",
          "styles": "./src/styles",
          "App": "./src/App"
        }
      }
    ]
  ]
}
